RewriteEngine On

# rewrite để theo chuẩn api endpoint của ./task/core/api.md
RewriteRule ^api/(.*)$ server/index.php?request=$1 [QSA,L]

# QSA để giữa lại các query sau dấu "?" trong URL
# L là để nói với apache tới đây dừng được rồi không cần quét thêm rewrite bên dưới (có thể thêm vào tương lai)